{% extends 'base.html' %}
<!-- This makes it have the same content as the base.html, 
    so all that needs to go in this file is the stuff that's specific to this page -->

{% block title %} HOME {% endblock title %}

{% block content %}
    <h2 class="text-center">Welcome to the Blog</h2>
{% if current_user.is_authenticated %}
    <h5 class="text-center">Signed in as: {{ current_user.username }}</h5>

    {% for post in posts %}
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ post.author.username }}</h6>
                <p class="card-text">{{ post.body }}</p>
            </div>
        </div>
    {% endfor %}

{% else %}
    <h6 class="text-center">Please sign up or log in to view and create posts.</h6>
{% endif %}

{% endblock content %}